@use "../../styles/_variables" as *;
@use "../../styles/_mixins" as *;

.header {
    background-color: $blue;
    margin: 0.5rem;
    padding: 0.3rem 5% 0.2rem 5%;
    color: $blue;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__left {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    } 
    &__icon {
        height: 22px;
        @include tablet{
            height: 25px;
        }
        @include desktop {
            height: 28px;
        }
    }
    &__right {
        @include tablet{
            display: none;
        }
    }
    &__right--big-screen{
        display: none;
        @include tablet {
            display: flex;
            gap: 1.5rem;
        }
        @include desktop {
            gap: 2.5rem;
        }
    }
    &__menu-btn {
        background-color: $blue;
        border: none;
        
    }
    &__menu-icon {
        height: 30px;
        position: relative;
        z-index:1000
    }
    &__link {
        color: white;
        text-decoration: none;
        font-size: 0.8rem;
        font-weight: 500;
        &:hover {
            color: $yellow;
        }
        @include desktop {
            font-size: 0.9rem;
        }
    }
    &__link--active {
        color: $yellow;
        text-decoration: none;
        font-size: 0.8rem;
        font-weight: 500;
        @include desktop {
            font-size: 0.9rem;
        }
    }
    &__link span {
        margin-left: 0.6rem;
    }
    &__link--active span {
        margin-left: 0.6rem;
    }
    &__anchor {
        text-decoration: none;
        
    }
    &__dropdown-menu {
        position: absolute;
        width: 100%;
        display: flex;
        top: 0;
        justify-content: end;
        z-index:500;
        @include tablet {
            display: none;
        }
    }
    &__content {
        color: white;
        width: 100%;
        background-color: $blue;
        min-height: 100vh;
        padding: 0.8rem;
    }
    &__nav {
        margin-top: 2rem;
    }
    &__item {
        color: white;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        padding: 2rem 1rem 0 3rem;
        font-weight: 600;
        font-size: 1.2rem;
        &:hover {
            color: $yellow;
        }
    }
    &__item--active {
        color: $yellow;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        padding: 2rem 1rem 0 3rem;
        font-weight: 600;
        font-size: 1.2rem;
    }
    @include tablet {
        margin: 1rem;
        padding: 0.5rem 7% 0.3rem 7%; 
    }
}